In [31]:
import numpy as np
import pandas as pd

In [32]:
df = pd.read_csv('https://drive.switch.ch/index.php/s/UEpTFv2Bfa5C1dd/download')
df.head()

,playerShort,player,club,leagueCountry,birthday,height,weight,position,games,victories,...,rater2,refNum,refCountry,Alpha_3,meanIAT,nIAT,seIAT,meanExp,nExp,seExp
0,lucas-wilchez,Lucas Wilchez,Real Zaragoza,Spain,31.08.1983,177.0,72.0,Attacking Midfielder,1,0,...,0.50,1,1,GRC,0.326391,712.0,0.000564,0.396000,750.0,0.002696
1,john-utaka,John Utaka,Montpellier HSC,France,08.01.1982,179.0,82.0,Right Winger,1,0,...,0.75,2,2,ZMB,0.203375,40.0,0.010875,-0.204082,49.0,0.061504
2,abdon-prats,Abdón Prats,RCD Mallorca,Spain,17.12.1992,181.0,79.0,NaN,1,0,...,NaN,3,3,ESP,0.369894,1785.0,0.000229,0.588297,1897.0,0.001002
3,pablo-mari,Pablo Marí,RCD Mallorca,Spain,31.08.1993,191.0,87.0,Center Back,1,1,...,NaN,3,3,ESP,0.369894,1785.0,0.000229,0.588297,1897.0,0.001002
4,ruben-pena,Rubén Peña,Real Valladolid,Spain,18.07.1991,172.0,70.0,Right Midfielder,1,1,...,NaN,3,3,ESP,0.369894,1785.0,0.000229,0.588297,1897.0,0.001002

In [33]:
position_mapping = {
    'Goalkeeper': 'Goalkeepers',
    'Center Back': 'Defenders',
    'Left Fullback': 'Defenders',
    'Right Fullback': 'Defenders',
    'Attacking Midfielder': 'Midfielders',
    'Center Midfielder': 'Midfielders',
    'Defensive Midfielder': 'Midfielders',
    'Left Midfielder': 'Midfielders',
    'Right Midfielder': 'Midfielders',
    'Left Winger': 'Forwards',
    'Right Winger': 'Forwards',
    'Center Forward': 'Forwards'
}

# rename the position in the dataframe to the broader position category
df['position'] = df['position'].map(position_mapping)

# Task 7 (From last week) - Same league
If you randomly construct a team of players while respecting their original position (like we did in Task 5), what is the probability that all players are in the England league?

In [34]:
league_country_counts = df.groupby(['position', 'leagueCountry']).size()
league_country_counts

position     leagueCountry
Defenders    England          12395
             France            7146
             Germany          12511
             Spain             9487
Forwards     England           8904
             France            4930
             Germany           8530
             Spain             6528
Goalkeepers  England           4063
             France            1760
             Germany           3927
             Spain             2571
Midfielders  England          11999
             France            7972
             Germany          13815
             Spain            11764
dtype: int64

In [35]:
broader_position_counts = df.groupby('position').size()
broader_position_counts_df = broader_position_counts.reset_index()
broader_position_counts_df.columns = ['Position Category', 'Number']
broader_position_counts_df

  Position Category  Number
0         Defenders   41539
1          Forwards   28892
2       Goalkeepers   12321
3       Midfielders   45550

In [36]:
from math import comb

combinations_goalkeepers = comb(broader_position_counts_df[broader_position_counts_df['Position Category'] == 'Goalkeepers']['Number'].values[0], 1)

combinations_defenders = comb(broader_position_counts_df[broader_position_counts_df['Position Category'] == 'Defenders']['Number'].values[0], 4)

combinations_midfielders = comb(broader_position_counts_df[broader_position_counts_df['Position Category'] == 'Midfielders']['Number'].values[0], 4)

combinations_forwards = comb(broader_position_counts_df[broader_position_counts_df['Position Category'] == 'Forwards']['Number'].values[0], 2)

total_combinations = combinations_goalkeepers * combinations_defenders * combinations_midfielders * combinations_forwards
total_combinations

114390877761817207419313078513240414033753264800

In [37]:
from math import comb

league_country_counts = df.groupby(['position', 'leagueCountry']).size()
comb_gk_england = comb(league_country_counts[('Goalkeepers', 'England')], 1)
comb_def_england = comb(league_country_counts[('Defenders', 'England')], 4)
comb_mid_england = comb(league_country_counts[('Midfielders', 'England')], 4)
comb_fwd_england = comb(league_country_counts[('Forwards', 'England')], 2)

total_combinations_england = comb_gk_england * comb_def_england * comb_mid_england * comb_fwd_england
probability_same_league = total_combinations_england / total_combinations

In [38]:
probability_same_league

1.1947124230859298e-06

# Task 1 - Dice rolls
Two balanced six-sided dice are rolled, and the numbers that come up are recorded.

- a) What is the probability of rolling a sum of 2?
- b) What is the probability of rolling a sum of 7?

Solve this mathematically and verify your solution by simulation.

a) What is the probability of rolling a sum of 2?

Only one combination of dice rolls can result in a sum of 2: (1, 1). That means the first die has to show a 1, and the second has to show a 1. For the first die we have in total 6 possible results, we have a $\frac{1}{6}$ chance of rolling a 1. For the second die we have again 6 possible results, and again a $\frac{1}{6}$ chance of rolling a 1. The probability of rolling a sum of 2 is therefore $\frac{1}{6} * \frac{1}{6} = \frac{1}{36}$.

In [39]:
NUM_EXPERIMENTS = 1_000_000

# roll two dice
dice_rolls = np.random.randint(1, 7, size=(NUM_EXPERIMENTS, 2))

# sum the dice rolls
dice_rolls_sum = np.sum(dice_rolls, axis=1)

# count the number of times we rolled a sum of 2
num_rolls_sum_2 = np.sum(dice_rolls_sum == 2)

# calculate the probability
probability_sum_2 = num_rolls_sum_2 / NUM_EXPERIMENTS

print(f'Probability of rolling a sum of 2: {probability_sum_2} - expected: {1/36}')

Probability of rolling a sum of 2: 0.027782 - expected: 0.027777777777777776

b) What is the probability of rolling a sum of 7?

First we identify all combinations that give us a 7:
- (1, 6)
- (2, 5)
- (3, 4)
- (4, 3)
- (5, 2)
- (6, 1)

We have 6 possible results for the first die, and 6 possible results for the second die. That means we have 36 possible combinations. 6 combinations give us the desired result. The probability of rolling a sum of 7 is therefore $\frac{6}{36} = \frac{1}{6}$.

In [40]:
NUM_EXPERIMENTS = 1_000_000
# roll two dice
dice_rolls = np.random.randint(1, 7, size=(NUM_EXPERIMENTS, 2))

# sum the dice rolls
dice_rolls_sum = np.sum(dice_rolls, axis=1)

# count the number of times we rolled a sum of 7
num_rolls_sum_7 = np.sum(dice_rolls_sum == 7)

# calculate the probability
probability_sum_7 = num_rolls_sum_7 / NUM_EXPERIMENTS

print(f'Probability of rolling a sum of 7: {probability_sum_7} - expected: {6/36}')

Probability of rolling a sum of 7: 0.167224 - expected: 0.16666666666666666

# Task 2 - Complementary Events
Suppose $P(A) = 0.6$, $P(B) = 0.3$, and $P(A \cap B) = 0.2$. Compute the following probabilities:

- a) $P(\overline{A})$
- b) $P(A \cup B)$
- c) $P(\overline{A \cup B})$
- d) Are $A$ and $B$ mutually exclusive?

a) $P(\overline{A}) = 1 - P(A) = 1 - 0.6 = 0.4$

b) $P(A \cup B) = P(A) + P(B) - P(A \cap B) = 0.6 + 0.3 - 0.2 = 0.7$

This one is maybe a bit tricky:
- first we add the probabilities of $A$ and $B$
- but if we do that, we count the intersection $A \cap B$ twice. We know we have an intersection, so we have to subtract the probability of the intersection once.
- we end up with $P(A \cup B) = 0.6 + 0.3 - 0.2 = 0.7$

c) $P(\overline{A \cup B}) = 1 - P(A \cup B) = 1 - 0.7 = 0.3$

d) No, $A$ and $B$ are not mutually exclusive. If they were, $P(A \cap B)$ would be 0.

In [41]:
example_df = pd.DataFrame({
    'A': [1, 1, 1, 1, 1, 1, 0, 0, 0, 0],
    'B': [1, 1, 0, 0, 0, 0, 1, 0, 0, 0]
})

In [42]:
example_df

   A  B
0  1  1
1  1  1
2  1  0
3  1  0
4  1  0
5  1  0
6  0  1
7  0  0
8  0  0
9  0  0

In [43]:
# P(A)
example_df['A'].mean()

0.6

In [44]:
# P(B)
example_df['B'].mean()

0.3

In [45]:
print("{:.20f}".format(example_df['B'].mean()))

0.29999999999999998890

In [46]:
# P(A \cap B)
(example_df['A'] * example_df['B']).mean()

0.2

In [47]:
# a) P(\overline{A})
p_a_complement = 1 - example_df['A'].mean()
p_a_complement

0.4

In [48]:
# b) P(A U B)
p_a_union_b = example_df['A'].mean() + example_df['B'].mean() - (example_df['A'] * example_df['B']).mean()
p_a_union_b

0.7

In [49]:
# c) P(\overline{A U B})
p_a_union_b_complement = 1 - p_a_union_b
p_a_union_b_complement

0.30000000000000004

In [50]:
print("{:.20f}".format(1 - p_a_union_b))

0.30000000000000004441

In [51]:
# d) Are A and B mutually exclusive?
(example_df['A'] * example_df['B']).mean() == 0

False

# Task 3 - Position Probabilities

In [52]:
df

,playerShort,player,club,leagueCountry,birthday,height,weight,position,games,victories,...,rater2,refNum,refCountry,Alpha_3,meanIAT,nIAT,seIAT,meanExp,nExp,seExp
0,lucas-wilchez,Lucas Wilchez,Real Zaragoza,Spain,31.08.1983,177.0,72.0,Midfielders,1,0,...,0.50,1,1,GRC,0.326391,712.0,0.000564,0.396000,750.0,0.002696
1,john-utaka,John Utaka,Montpellier HSC,France,08.01.1982,179.0,82.0,Forwards,1,0,...,0.75,2,2,ZMB,0.203375,40.0,0.010875,-0.204082,49.0,0.061504
2,abdon-prats,Abdón Prats,RCD Mallorca,Spain,17.12.1992,181.0,79.0,NaN,1,0,...,NaN,3,3,ESP,0.369894,1785.0,0.000229,0.588297,1897.0,0.001002
3,pablo-mari,Pablo Marí,RCD Mallorca,Spain,31.08.1993,191.0,87.0,Defenders,1,1,...,NaN,3,3,ESP,0.369894,1785.0,0.000229,0.588297,1897.0,0.001002
4,ruben-pena,Rubén Peña,Real Valladolid,Spain,18.07.1991,172.0,70.0,Midfielders,1,1,...,NaN,3,3,ESP,0.369894,1785.0,0.000229,0.588297,1897.0,0.001002
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146023,tomas-rosicky,Tomáš Rosický,Arsenal FC,England,04.10.1980,178.0,67.0,Midfielders,1,1,...,0.00,3147,21,HUN,0.376127,574.0,0.000714,0.498350,606.0,0.002968
146024,winston-reid,Winston Reid,West Ham United,England,03.07.1988,190.0,87.0,Defenders,1,0,...,0.50,3147,21,HUN,0.376127,574.0,0.000714,0.498350,606.0,0.002968
146025,xherdan-shaqiri,Xherdan Shaqiri,Bayern München,Germany,10.10.1991,169.0,72.0,Midfielders,1,1,...,0.25,3147,21,HUN,0.376127,574.0,0.000714,0.498350,606.0,0.002968
146026,yassine-el-ghanassi,Yassine El Ghanassi,West Bromwich Albion,England,12.07.1990,173.0,NaN,Forwards,1,0,...,0.50,3147,21,HUN,0.376127,574.0,0.000714,0.498350,606.0,0.002968
146027,zdenk-pospch,Zdeněk Pospěch,1. FSV Mainz 05,Germany,14.12.1978,174.0,72.0,Defenders,1,0,...,0.25,3147,21,HUN,0.376127,574.0,0.000714,0.498350,606.0,0.002968

In [53]:
df = df.dropna()
total_players = len(df)

pivot_counts = pd.pivot_table(df, index='leagueCountry', columns='position', aggfunc='size')

pivot_normalized = pivot_counts / total_players
pivot_normalized

position       Defenders  Forwards  Goalkeepers  Midfielders
leagueCountry
England         0.091419  0.064396     0.029162     0.084378
France          0.048832  0.032800     0.010012     0.050149
Germany         0.108274  0.073525     0.033891     0.117126
Spain           0.079727  0.056437     0.022242     0.097629

Suppose we select a random player. Consider the following events:
- $A$: the player a Defender
- $B$: the player is a Forward
- $C$: the player is a Goalkeeper
- $D$: the player is a Midfielder
- $E$: the player is from England

Answer the following questions:
a) What is the event that the player is a Midfielder from England? What is the probability of this event?

a): $D \cap E$
$P(D \cap E) \approx 0.08$

b) What is the probability that the player is a Defender OR from England?

Is a Defender: $P(A) = 0.09 + 0.05 + 0.11 + 0.08 = 0.33$
Is from England: $P(E) = 0.09 + 0.06 + 0.03 + 0.08 = 0.26$

Defender or from England: $P(A \cup E) = P(A) + P(E) - P(A \cap E) = 0.33 + 0.26 - 0.09 = 0.50$

In [54]:
# check with pandas!
# probability that a player is a Defender OR from England
df[
    (df['position'] == 'Defenders')
    |
    (df['leagueCountry'] == 'England')
].shape[0] / total_players

0.5061884511116693

c) Which events are mutually exclusive?

All the pairs of position events. For example, a player cannot be a Defender and a Forward at the same time.

# Task 4 - Conditional Probability

Recall the following from the lecture:

Definition 26 (old), 17 (new):
$P(A|B) = \frac{P(A \cap B)}{P(B)}$ \, if $P(B) > 0$


Theorem 25:
1. $P(A) + P(\overline{A}) = 1$
2. $P(\emptyset) = 0$
3. $A \subseteq B \implies P(A) \leq P(B)$
4. $P(A \cup B) = P(A) + P(B) - P(A \cap B)$
5. Let $A_1, A_2, \dots, A_p$ be mutually exclusive, then holds $P(\bigcup_{i=1}^p A_i) = \sum_{i=1}^p P(A_i)$

Suppose $P(A) = 0.6$, $P(B) = 0.2$ and $P(A \cup B) = 0.65$. Compute the following probabilities:
- a) $P(A \cap B)$
- b) $P(A|B)$
- c) $P(B|A)$

a) $P(A \cap B) = P(A) + P(B) - P(A \cup B) = 0.6 + 0.2 - 0.65 = 0.15$

This follows from 4. above. We can just rearrange the equation to get $P(A \cap B) = P(A) + P(B) - P(A \cup B)$.

b) $P(A|B) = \frac{P(A \cap B)}{P(B)} = \frac{0.15}{0.2} = 0.75$

c) $P(B|A) = \frac{P(A \cap B)}{P(A)} = \frac{0.15}{0.6} = 0.25$

# Task 5 - Multiplication Rule

Remember the multiplication rule from the lecture (Corollary 29):
$P(A_1 \cap A_2 \cap \dots \cap A_p) = P(A_1) \cdot P(A_2|A_1) \cdot P(A_3|A_1 \cap A_2) \cdot \dots \cdot P(A_p|A_1 \cap A_2 \cap \dots \cap A_{p-1})$

Use this rule to solve the following problems in Python:

a) We randomly select two players from the dataset (without replacement). What is the probability that both players are from England? (without replacement)

We can formulate this as:

$P(\text{both from England}) = P(\text{first from England}) \cdot P(\text{second from England} | \text{first from England})$

In [55]:
prob_first = len(df[df['leagueCountry'] == 'England']) / len(df)
prob_first

0.2693556908632651

In [56]:
# we have already selected one player, so we have one less player to choose from
prob_second = (len(df[df['leagueCountry'] == 'England']) - 1) / (len(df) - 1)
prob_second

0.2693493625277162

In [57]:
# by the chain rule:
prob_both = prob_first * prob_second
prob_both

0.07255078362723304

b) We randomly select four players from the dataset (without replacement). What is the probability that all four players are from England?

In [58]:
prob_first = len(df[df['leagueCountry'] == 'England']) / len(df)
prob_second = (len(df[df['leagueCountry'] == 'England']) - 1) / (len(df) - 1)
prob_third = (len(df[df['leagueCountry'] == 'England']) - 2) / (len(df) - 2)
prob_fourth = (len(df[df['leagueCountry'] == 'England']) - 3) / (len(df) - 3)

prob_all = prob_first * prob_second * prob_third * prob_fourth
prob_all

0.005263121541306057

In [59]:
# here we simulate the experiment
NUM_EXPERIMENTS = 100_000

counts = []
for _ in range(NUM_EXPERIMENTS):
    sampled_players = df.sample(4, replace=False)

    # check if all players are from England
    countries = sampled_players['leagueCountry'].unique()
    if len(countries) == 1 and countries[0] == 'England':
        counts.append(True)
    else:
        counts.append(False)

experiment_prob = sum(counts) / len(counts)
experiment_prob

0.00544