In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import requests  # used later to download additional data
import sqlite3

In [2]:
# you need to write the query to make it work
with sqlite3.connect("./crowdstorming.db") as c:
    result = pd.read_sql(
        """
           SELECT *
             FROM countries 
        """,
        c
    )
result

     index                      name  fifa  unMember
0        0          French Polynesia  None         0
1        1              Saint Martin  None         0
2        2                 Venezuela   VEN         1
3        3                   Réunion  None         0
4        4               El Salvador   SLV         1
..     ...                       ...   ...       ...
245    245  Northern Mariana Islands  None         0
246    246                  Botswana   BOT         1
247    247                    Panama   PAN         1
248    248                     Gabon   GAB         1
249    249                   Ecuador   ECU         1

[250 rows x 4 columns]